<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-nav-list class="nav-list">
            <ng-container *ngIf="builderListStore.builders().length > 0 && !builderListStore.loading()">
                <div class="nav-item" *ngFor="let builder of builderListStore.builders()">
                    <a [routerLink]="['/docs/', versionsStore.currentVersion()!.majorVersion, builder.title]"
                            routerLinkActive="active" mat-list-item>
                        {{ builder.title }}
                    </a>
                </div>
            </ng-container>
            <ng-container *ngIf="builderListStore.loading()">
                <div class="nav-item" *ngFor="let item of placeholderArray">
                    <a mat-list-item>
                        <p class="placeholder"></p>
                    </a>
                </div>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

