@use '../../../styles/variables';

.builder-property-section {
  display: flex;
  margin-bottom: 35px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.toggle-button {
  position: absolute;
  left: -35px;
  top: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  transition: transform .1s ease-in-out;
  color: variables.$orange;
}

.toggle-button.collapsed {
  transform: rotate(90deg);
}

.builder-property-collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
  width: 100%;
}

.builder-property-collapsible.visible {
  background-color: transparent;
  max-height: max-content;
  transition: background-color 0.3s ease;
  margin-bottom: 35px;
}

.builder-property-collapsible.highlight {
  background-color: rgba(215, 227, 255, 0.25);
  transition: background-color 0.1s ease;
}

.builder-property-children {
  padding-left: 25px;
}

.builder-property-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 185px;
    min-width: 185px;
  }
}

.builder-property-description {
  width: 100%;
  margin-top: 15px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    margin-left: 50px;
    margin-top: 0;
  }
}

.builder-property-title {
  font-weight: 600;
  background-color: #d7e3ff5e;
  border-radius: 4px;
  color: variables.$orange;
  text-align: center;
  width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  padding: 3px 10px;
}

.builder-property-type {
  color: #6a737d;
  margin: 5px 0;
  width: 100%;
  text-align: center;
}

.badge-block {
  width: 90px;
  min-width: 90px;
  margin: 0 10px;

  .property-badge {
    font-size: 12px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .required {
    color: #166534;
    background-color: #dcfce7;
  }

  .deprecated {
    color: #854d0e;
    background-color: #fef9c3;
  }
}

.one-of-hint {
  font-weight: 500;
  text-decoration: underline;
}
