@use '../../../styles/variables';

.one-of-option-type {
  color: #6a737d;
  margin: 5px 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.one-of-option-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-left: 35px;
  margin-bottom: 15px;
  flex-direction: column;
}

.one-of-option-title {
  color: variables.$orange;
  width: 100%;
  font-weight: 500;
  white-space: nowrap;
}

.one-of-option {
  position: relative;
  border-left: 3px solid rgba(220, 74, 48, 0.3882352941);
  margin-bottom: 20px;
  padding-left: 15px;
}
