# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# System files
.DS_Store
Thumbs.db

# Compiled output
/frontend/dist
/tmp
/out-tsc
/bazel-out

# Node
/npm-debug.log
/yarn-error.log
/frontend/node_modules
/backend/node_modules

# Visual Studio Code
/.vscode/*
/.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
frontend/.editorconfig
