<div class="home-page__content">
    <div class="home-page__container">
        <div class="home-page__contents">
            <app-logo class="home-page__logo"></app-logo>
            <h1>Welcome to the unofficial Angular configuration documentation!</h1>
        </div>
        <app-go-to-docs-button></app-go-to-docs-button>
        <h2>Understanding Builders</h2>
        <div class="card">
            <p>This documentation guides you through the various builder options available in your
                <code class="file-name">angular.json</code> file. Builders in Angular are responsible for crucial tasks
               in your project, such as
               serving, building, and testing. Each builder has its own set of configurable options that you can
               customize to fit your
               project's needs.</p>
            <p>This documentation supports Angular versions 12 through 18 and covers various builder options
               available in Angular. Common Builders include, but are not limited to:</p>
            <ul>
                <li>
                    <mat-icon>settings</mat-icon>
                    <strong>Application</strong> Configures the overall application build process.
                </li>
                <li>
                    <mat-icon>web</mat-icon>
                    <strong>Browser</strong> Handles browser-specific build configurations.
                </li>
                <li>
                    <mat-icon>dns</mat-icon>
                    <strong>Server</strong> Manages server-side rendering configurations.
                </li>
                <li>
                    <mat-icon>computer</mat-icon>
                    <strong>Dev-Server</strong> Controls the development server settings.
                </li>
            </ul>
        </div>

        <h2>Configuring Properties</h2>
        <p>To configure a builder, locate its section in your <code class="file-name">angular.json</code> file and
           adjust the
           properties as needed. For example:</p>
        <pre><code class="code-block">
  &#123;
    "projects": &#123;
      "your-app": &#123;
        "architect": &#123;
          "build": &#123;
            "builder": "&#64;angular-devkit/build-angular:browser",
            "options": &#123;
              // Builder properties go here
            &#125;
          &#125;
        &#125;
      &#125;
    &#125;
  &#125;
        </code></pre>
        <app-go-to-docs-button></app-go-to-docs-button>
    </div>
</div>