@import './variables';

.flexbox-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

li {
  list-style: none;
  position: relative;
  padding: 10px 0;

  mat-icon {
    position: absolute;
    top: 10px;
    left: -35px;
    color: #3f51b5;
  }

  strong {
    color: #3f51b5;
    width: 110px;
    display: inline-block;
  }
}

p {
  width: 100%;

  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.home-page {
  &__container {
    max-width: 750px;
    @extend .flexbox-centered;
    flex-direction: column;
  }

  &__contents {
    @extend .flexbox-centered;

    h1 {
      color: #3f51b5;
      text-align: center;
    }
  }

  &__logo {
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    position: absolute;
    right: 8%;
    top: 0;
    opacity: 0.1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: $pale-blue;

    h1, h2 {
      color: #3f51b5;
      margin-top: 1.5em;
    }

    h1 {
      font-size: 40px;
      overflow: hidden;
      word-wrap: break-word;
    }

    h2 {
      font-size: 30px;
    }

    .file-name {
      padding: 2px 4px;
      border-radius: 4px;
      background-color: $prop-background;
      color: $orange;
      font-weight: 500;
    }

    .code-block {
      padding: 2px 4px;
      border-radius: 4px;
    }

    pre {
      background-color: white;
      padding: 15px;
      border-radius: 4px;
      overflow-x: auto;
      border: 1px solid #ddd;
      width: 100%;
    }

    ul, ol {
      padding-left: 20px;
    }
  }
}

.docs-note {
  margin: 50px 0;
}