@import './variables';

.flexbox-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

li {
  list-style: none;
  position: relative;
  padding: 10px 0;

  mat-icon {
    position: absolute;
    top: 10px;
    left: -35px;
    color: #3f51b5;
  }

  strong {
    color: #3f51b5;
    width: 110px;
    display: inline-block;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  flex-direction: column;
}

.home-page {
  &__container {
    max-width: 800px;
    @extend .flexbox-centered;
    flex-direction: column;
  }

  &__contents {
    @extend .flexbox-centered;

    h1 {
      color: #3f51b5;
      text-align: center;
    }
  }

  &__logo {
    width: 500px;
    height: 500px;
    min-width: 500px;
    min-height: 500px;
    position: absolute;
    right: 8%;
    top: 0;
    opacity: 0.1;
  }



  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: $pale-blue;

    h1, h2 {
      color: #3f51b5;
      margin-top: 1.5em;
    }

    .file-name {
      padding: 2px 4px;
      border-radius: 4px;
      background-color: $prop-background;
      color: $orange;
      font-weight: 600;
    }

    .code-block {
      padding: 2px 4px;
      border-radius: 4px;
    }

    pre {
      background-color: #ba1a1a0a;
      padding: 15px;
      border-radius: 4px;
      overflow-x: auto;
    }

    ul, ol {
      padding-left: 20px;
    }
  }
}