<div class="home-page__content">
    <div class="home-page__container">
        <div class="home-page__contents">
            <app-logo class="home-page__logo"></app-logo>
            <h1>Welcome to the unofficial Angular CLI builders documentation!</h1>
        </div>
        <app-go-to-docs-button></app-go-to-docs-button>
        <h2>Understanding Builders</h2>

        <p>This documentation is generated dynamically from the builder schemas available in the Angular CLI,
           providing a comprehensive outline of the various builder options in your <code class="file-name">angular.json</code> file.
           Angular builders handle crucial project tasks like serving, building, and testing. Each builder offers
           configurable options you can customize to fit your project's needs.</p>
        <p>This documentation supports Angular versions 12 through 18.</p>

        <h2>Configuring Properties</h2>
        <p>To configure a builder, locate its section in your <code class="file-name">angular.json</code> file and
           adjust the
           properties as needed. For example:</p>
        <pre><code class="code-block">
  &#123;
    "projects": &#123;
      "your-app": &#123;
        "architect": &#123;
          "build": &#123;
            "builder": "&#64;angular-devkit/build-angular:browser",
            "options": &#123;
              // Builder properties go here
            &#125;
          &#125;
        &#125;
      &#125;
    &#125;
  &#125;
        </code></pre>
        <app-go-to-docs-button></app-go-to-docs-button>
        <p class="docs-note">
            This resource is meant to supplement, not replace, the official docs. Please use the official
            <a class="docs-link" href="https://angular.dev/" target="_blank">Angular documentation</a>
           as your primary reference.
        </p>
        <p>
            Developed by
            <a class="docs-link" href="https://yuliagaliulina.github.io/resume/" target="_blank">Yulia Galiulina</a>
        </p>
    </div>
</div>