.one-of-option-type {
  color: #6a737d;
  margin: 5px 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.one-of-option-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-left: 35px;
}

.one-of-option-title {
  width: 100%;
  font-weight: 500;
  white-space: nowrap;
  margin-right: 12px;
}

.one-of-option {
  position: relative;
  border-left: 3px solid #dc4a3063;
  margin-bottom: 20px;
}
