@use '../../styles/variables';

.flexbox-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.not-found-page-container {
  @extend .flexbox-centered;
  text-align: center;
  background-color: variables.$pale-blue;
}

.logo {
  width: 250px;
  height: 250px;
  margin: 20px;
  filter: grayscale(100%);
}

.not-found-page-contents {
  @extend .flexbox-centered;
  max-width: 1000px;
  justify-content: center;
  flex-direction: column;
}