html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.property-option {
  background-color: #d7e3ff5e;
  color: #9B2C2C;
  word-break: break-word;
}

.docs-link {
  color: #005cbb;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2 {
  line-height: 1.5 !important;
}

p {
  margin: 0 0 .75em;
  color: rgb(26, 27, 31);
  font-size: 17px;
}

