html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.property-option {
  background-color: #d7e3ff5e;
  color: #9B2C2C;
}

.docs-link {
  color: var(--mdc-text-button-label-text-color);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}