<svg class="logo" x="0px" y="0px" width="960px" height="960px" viewBox="0 0 960 960">
    <defs id="defs3">
        <linearGradient id="swatch3">
            <stop offset="0" id="stop3"/>
        </linearGradient>
        <linearGradient
                xlink:href="#swatch3"
                id="linearGradient3"
                x1="447.38863"
                y1="330.81928"
                x2="750.13791"
                y2="330.81928"
                gradientUnits="userSpaceOnUse"/>
    </defs>
    <polygon points="562.6,109.8 804.1,629.5 829.2,233.1" id="polygon1"/>
    <polygon points="624.9,655.9 334.3,655.9 297.2,745.8 479.6,849.8 662,745.8" id="polygon2"/>
    <text
            x="447.45502"
            y="405.24469"
            font-size="287.591px"
            font-family="Playfair Display"
            font-weight="bold"
            transform="scale(0.80282976,1.2455941)"
            stroke-width="40"
            id="text2">
        &#123; &#125;
    </text>
    <polygon points="396.6,109.8 130,233.1 155.1,629.5" id="polygon3"/>
</svg>